.hrow {
    font-weight: 100;
    color: #000000;
    font-size: 15px;
    }
    .hrow td{
    padding-top: 20px;
    width: 300px;
    }
.world-clock-title {
    font-family: 'Segoe UI';
  	color: #FFFFFF;
}
.world-clock-table {
    font-family: 'Segoe UI';
}