<div class="world-clock-title web-part-title">Client Time Zones</div>
    <table cellspacing="5px">
        <tr class="hrow">
            <td>California</td>
            <td>Benson, AZ</td>
            <td>Chicago, IL<br>St. Louis, MO</td>
        </tr>
        <tr>
            <td><span id="California"></span></td>
            <td><span id="Benson"></span></td>
            <td><span id="CDT"></span></td>
        </tr>
        <tr class="hrow">
            <td>Detroit, MI</td>
            <td>Bristol, UK</td>
            <td>Linas, France</td>
        </tr>
        <tr>
            <td><span id="Detroit"></span></td>
            <td><span id="Bristol"></span></td>
            <td><span id="Linas"></span></td>
        </tr>
        <tr class="hrow">
            <td>Shenzen, China</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><span id="Shenzen"></span></td>
            <td></td>
            <td></td>
        </tr>
    </table>