<div class="urgent-announcements-item">
  <a class="urgent-announcements-item-link" onclick="window.open ('{{URL}}', ''); return false" href="javascript:void(0);"><div class="urgent-announcements-item-category">{{Category}}</div></a>
  <a class="urgent-announcements-item-link" onclick="window.open ('{{URL}}', ''); return false" href="javascript:void(0);"><div class="urgent-announcements-item-arrow-right"></div></a>
  <a class="urgent-announcements-item-link" onclick="window.open ('{{URL}}', ''); return false" href="javascript:void(0);"><div class="urgent-announcements-item-property">{{Title}}</div></a>
</div>