.urgent-announcements-title {
  margin-bottom: 10px;
}
.urgent-announcements-item {
  display: flex;
  align-items: center;
  text-align: center;
}
@keyframes urgent-announcements-animation-background {
  0%     {background-color: #0176d4;}
  50.0%  {background-color:#c11d04;}
  100.0%  {background-color:#0176d4;}
}
.urgent-announcements-item-category {
  background-color: #c11d04;
  color: white;
  width: fit-content;
  min-width: 120px;
  padding: 5px;
  white-space: nowrap;
  animation-name: urgent-announcements-animation-background;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;    
  animation-play-state: running;
}
.urgent-announcements-item-title {
  color: #000000;
  margin: 5px;
}
.urgent-announcements-item-arrow-right {
  margin-left: -5px;
  margin-right: 5px;
  margin-top: 10px;
  width: 0; 
  height: 0;
  border-right: 10px solid #0176d4;
  border-top: 10px solid transparent;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  animation-name: urgent-announcements-animation-arrow-right;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;    
  animation-play-state: running;
}
@keyframes urgent-announcements-animation-arrow-right {
  0%     {border-color:#0176d4;}
  50.0%  {border-color:#c11d04;}
  100.0%  {border-color:#0176d4;}
}