$columns: 2; $gutter: 1em;
 $columns: 2 !default; $gutter: 1em !default; a {
  text-decoration: none;
}
.employee-photos-team-container {
  width: 50%;
  padding: 10px;
  display: block;
  margin: 10px;
}
.employee-photos-row {
  display: inline-flex;
}
.employee-photos-photos-container {
  overflow: hidden;
  column-count: $columns;
  column-gap: $gutter;
}
.employee-photos-title {
  color: #FFFFFF;
  margin-bottom: 10px;
}
.employee-photos-img {
  width: 100%;
  height: auto;
  display: block;
}
.employee-photos-tile {
  display: inline-block;
  position: relative;
  margin: 0 0 $gutter;
  width: 100%;
}
.employee-photos-tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  vertical-align: bottom;
} .employee-photos-tile-overlay:hover {
  background: rgba(0, 0, 0, 0.2);
}
.employee-photos-tile-text {
  text-align: center;
  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.5px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.9);
}
