<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class='employee-photos-container'>
    <div class="employee-photos-row">
        <div class='employee-photos-team-container employee-photos-operations-container'>
            <a href="https://totalsol.sharepoint.com/sites/pmstaff" target="_blank"><div class='employee-photos-title web-part-title'>Operations Team <span class="material-icons">launch</span></div></a>
            <div class='employee-photos-photos-container employee-photos-operations-photos'></div>
        </div>
        <div class='employee-photos-team-container employee-photos-design-container'>
            <a href="https://totalsol.sharepoint.come/sites/StaffDesign" target="_blank"><div class='employee-photos-title web-part-title'>Design Team <span class="material-icons">launch</span></div></a>
            <div class='employee-photos-photos-container employee-photos-design-photos'></div>
        </div>
        <div class='employee-photos-team-container employee-photos-delivery-container'>
            <a href="https://totalsol.sharepoint.come/sites/StaffDevelopment" target="_blank"><div class='employee-photos-title web-part-title'>Delivery Team <span class="material-icons">launch</span></div></a>
            <div class='employee-photos-photos-container employee-photos-delivery-photos'></div>
        </div>
    </div>
    <div class="employee-photos-row">
        <div class='employee-photos-team-container employee-photos-products-container'>
            <a href="https://totalsol.sharepoint.come/sites/StaffTSIProducts" target="_blank"><div class='employee-photos-title web-part-title'>Products Team <span class="material-icons">launch</span></div></a>
            <div class='employee-photos-photos-container employee-photos-products-photos'></div>
        </div>
        <div class='employee-photos-team-container employee-photos-sales-container'>
            <a href="https://totalsol.sharepoint.come/sites/staffprofessionalservicessalesmarketing" target="_blank"><div class='employee-photos-title web-part-title'>Sales Team <span class="material-icons">launch</span></div></a>
            <div class='employee-photos-photos-container employee-photos-sales-photos'></div>
        </div>
        <div class='employee-photos-team-container employee-photos-hr-container'>
            <a href="https://totalsol.sharepoint.come/sites/allstaff" target="_blank"><div class='employee-photos-title web-part-title'>HR <span class="material-icons">launch</span></div></a>
            <div class='employee-photos-photos-container employee-photos-hr-photos'></div>
        </div>
    </div>
</div>
