.quick-links-container {
  background-color: #004e8c;
  padding: 5px;
}
.quick-links-container h1 {
  color: #FFFFFF;
  font-weight: 0;
  margin: 5px 0px 10px 5px;
  font-size: 1.5em;
}
.quick-links-container a {
  text-decoration:none;
}
.quick-links-item {
  color: #FFFFFF;
  font-size: 16px;
  border-top:1px solid #FFFFFF;
  padding:5px;
  display: inline-flex;
  width: 100%;
}
.quick-links-item a {
  margin-left: 10px;
  vertical-align:middle;
}
.quick-links-item:hover {
  opacity: 0.8; 
}
/* .quick-links-item i {
  vertical-align:middle;
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 3px;
} */
.quick-links-item a {
  color:inherit;
  text-decoration:inherit;
}
.quick-links-item-title {
  margin-left: 15px;
}
