/*Webpart Headers*/
div[class*='captionElement_'], .web-part-title {
	padding-bottom: 6px;
    padding-left: 18px;
    padding-top: 6px;
    font-size: 28px;
    font-weight: 400;
    background-color: #f67634;
    opacity: .95;
    color: #FFFFFF;
}
/*Hide page title*/
div[class*='pageTitle_'] {
  display: none;
}
div[class*='captionElement_'] span,
div[class*='captionElement_'] textarea{
    font-weight: 400;
    color: #ffffff !important;
}

/*Image Captions*/
div[class*='imageFrame_'] > div[class*='captionElement_']{
	background-color: #fff;
}

/*Quicklinks Icons*/
div[class*='content'] div[class*='thumbnail']{
	background-color: #5381ac;
}

div[class*='content'] div[class*='thumbnail'] i{
	color: #fff;
}